<div class="title mb-3 bg-dark text-white text-center">
<h1> Shopping list </h1>
</div>
<div class="col-md-6 col-md-offset-3 mb-3">

  <% @products.each do |product| %>

    <% if product.completed? %>

      <div class="row item">

        <div class="col-md-8">
          <h2 style="opacity: 0.6;"><strike><%= link_to product.title, product %> </strike></h2>
          <p style="opacity: 0.6;"> <em><%= product.quantity  %></em>  <%= product.description %></p>
          <p>Completed <%= time_ago_in_words(product.completed_at) %> ago</p>
        </div>

        <div class="col-md-4">
          <p><%= link_to "Mark as Complete",  complete_product_path(product), method: :patch, class:"btn btn-outline-info" %></p>
        </div>

    <% else %>
      <div class="row item">

        <div class="col-md-8">
          <h2><%= link_to product.title, product, class: "bg-light text-danger" %></h2>
          <p> <em><%= product.quantity  %> </em><%= product.description %></p>
          <p>Created <%= time_ago_in_words(product.created_at) %> ago</p>
        </div>

        <div class="col-md-4">
          <p><%= link_to "Mark as Complete",  complete_product_path(product), method: :patch, class: "btn btn-info " %></p>
        </div>

      </div>
    <% end %>

  <% end %>

  <% if user_signed_in? %>
    <p><%= link_to "New Product", new_product_path, class: "btn btn-outline-primary" %></p>
  <% end %>

  </div>



</div>
